/* This creates a 16:9 aspect-ratio box for our video */
.video-player-wrapper {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  background-color: #000;
  margin-bottom: 10px; 
}


.video-player-wrapper video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}